# CMake files
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake

# Crosstools tarballs
x-tools*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
