[submodule "build/crosstool-ng"]
	path = build/crosstool-ng
	url = https://github.com/crosstool-ng/crosstool-ng.git
[submodule "dinamo/box2d"]
	path = dinamo/box2d
	url = git@github.com:efforia/box2d.git
[submodule "dinamo/sdl2"]
	path = dinamo/sdl2
	url = git@github.com:efforia/sdl2.git
[submodule "elements"]
	path = libelements
	url = git@github.com:williamlagos/elements.git
[submodule "synapse"]
	path = synapse
	url = git@github.com:williamlagos/synapse
